<IfModule mod_headers.c>
    <FilesMatch "\.(webp|jpg|jpeg|png|gif|svg)$">
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET"
        Header set Access-Control-Allow-Headers "Content-Type"
    </FilesMatch>
</IfModule>

AddType application/vnd.android.package-archive .apk

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Если запрашивается .apk файл и он существует — отдаём напрямую
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule \.apk$ - [L]
</IfModule>